NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL=postgres://lumi:iykykoknoyes@localhost:6432/lumi
REDIS_URL=redis://localhost:4567
MINIO_ENDPOINT=localhost
MINIO_PORT=5000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=sawssawssaws
MINIO_BUCKET=lumi-media
AUTH_SECRET=d420be4dba7f4f8938595feb956cb8d423c580026904435ce76ecab8568c4074
ML_API_URL=http://localhost:8000